<!-- src/app/expense/expense.component.html -->
<div class="container mt-2">
  <h3 class="text-center text-danger mb-4">Add Expense</h3>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-danger">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
           
            <div class="mb-4">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" class="form-control form-control-lg" id="amount" [(ngModel)]="amount" name="amount" required  #amountCtrl="ngModel" min="1">
              <small class="text-danger" *ngIf="amountCtrl.invalid && amountCtrl.touched">Amount must be grreater than 0</small>
            </div>

            <!-- Category of Expense source -->
             <div class="mb-4">
              <label for="category" class="form-label">Expence Cause</label>
              <input type="text" class="form-control form-control-lg" id="category" [(ngModel)]="category" name="category" required #categoryCtrl="ngModel">
              <small class="text-danger" *ngif="categoryCtrl.invalid && categoryCtrl.touched"></small>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-danger btn-lg w-100">Add Expense</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
